// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home-page
{
  color: #133aac;
  padding-top: 30px;
  width: 600px;

  p
  {
    font-size: 16pt;
  }

}


