// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users-new
{
  width: 600px;

  form 
  {
    width: 600px;
  }

  li
  {
    margin-left: 10px; 
  }

}
